@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');
@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@layer components {
  .section-hero {
    background-image: linear-gradient(#000000, #154628 51%);
    padding-top: 12.6rem;
    padding-bottom: 12.6rem;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  body {
    font-family: var(--font-satoshi);
    background-color: #0b0b0b;
    color: #e5e5e5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}

@layer components {
  .hero-title {
    font-family: var(--font-syne);
    font-weight: 900;
    line-height: 0.9;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    font-size: clamp(3rem, 10vw, 10rem);
  }

  .image-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .image-container:hover img {
    transform: scale(1.08);
  }

  .primary-btn {
    gap: 12px;
    background-color: #00d150;
    color: #2c2c2c;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 999px;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    text-decoration: none;
    transition: 0.3s;
    display: inline-flex;
    position: relative;
    overflow: clip;
    box-shadow: rgba(255, 255, 255, 0.78) 0px 0px 5px inset;
  }

}


@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  .text-balance {
    text-wrap: balance;
  }
}

body.no-preloader .global-preloader {
  display: none !important;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}